#tweet-container {
  position: relative;
  margin: auto;
}

.tweet:hover {
  color: rgb(83, 81, 81);
  border: 3px solid rgb(2, 68, 250);
}

.tweet {
  background-color: #ffffff;
  height: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 3px solid rgb(156, 154, 154);
  color: rgb(151, 139, 139);
  font-family: 'Source Sans Pro';
  margin-bottom: 2em;
}

.tweetData {
  padding-bottom: 20px;

  border-bottom: 3px solid rgb(92, 89, 89);
  font-size: 20px;
  margin: 20px;
}

.handle{
  display: none;
  color: rgb(3, 3, 140);
  opacity: 30%;
  float: right;
  font-size: 35px;
  margin: 20px;
}


.tweet header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.2rem;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.name {
  font-size: 2em;
}

.date {
  margin: 20px;
}

.icons {
  padding-right: 20px;
  padding-bottom: 25px;
  float: right;
}

.avatar {
  width: 60px;
  height: 60px;
  padding: 0;
  font-size: 75px;
}